<h2 mat-dialog-title>Create New Report</h2>
<form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)" class="form">
  <div mat-dialog-content>
    <div class="row">
      <div class="col-12">
        <mat-form-field appearance="outline" style="width: 15rem">
          <mat-label>Choose Data Set</mat-label>
          <mat-select (selectionChange)="onChangeDataSet($event.value)" formControlName="dataSetName"
            [ngClass]="{ 'is-invalid': submitted && f.dataSetName.errors }">
            <mat-option>Select Your DataSet</mat-option>
            <mat-option *ngFor="let Data of DataSets" [value]="Data">
              {{Data.fileName}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div *ngIf="submitted && f.dataSetName.errors" class="invalid-feedback">
          <div *ngIf="f.dataSetName.errors.required">DataSetName is required</div>
        </div>
      </div>
      <div class="col-12" *ngIf="tabName.module != 'customersegment'">
        <mat-form-field appearance="outline" style="width: 15rem">
          <mat-label>Choose Target Variable</mat-label>
          <mat-select formControlName="targetVariable">
            <mat-option>Select Target</mat-option>
            <mat-option *ngFor="let Data of TragetDataSets" [value]="Data">
              {{Data}}
            </mat-option>
            <!-- <mat-option>header1</mat-option>
            <mat-option>header1</mat-option> -->
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>
  <br>
  <div mat-dialog-actions>
    <div class="row-button">

      <div class="col-12" class="button-inline">
        <button class="button-col" mat-button type="reset" (click)="dialogRef.close()">Cancel</button>
        <button class="button-col" mat-button type="submit">Submit</button>

      </div>
    </div>
  </div>
</form>