
.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

 .example-sidenav-container {
  flex: 1;
}

.example-sidenav{
  color: #d36423;
}

.mat-list-item{
  color: white;
}
.mat-nav-list{
  .mat-list-item.active{
    border-left:blue solid 5px;
    color:blue !important;
    .mat-icon{
      color:blue;
    }
    .a{
      color:blue;
    }
  }
}
.mat-drawer{
 
  background:#1D1D1D;
  color:white;
}

.mat-toolbar {
  
  background: #272525;
  color: white;
}

.example-sidenav-content {
  // display: flex;
  height: 100%;
  width:100%;
  // align-items: center;
  // justify-content: center;
  background-color: #e8ded7;
 
}
::ng-deep .mat-list-base{
  background-color: none !important;
}
.example-toolbar {
    z-index: 2;
}

.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox. 
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}
.kyndrylimg{
  width: 115px;
  height: 25px;
    margin-left: 10px;
}
.menu-icon{
  cursor: pointer;
}
