
$cool-grey80: #343a3f;
$cool-grey70:#4d5358;
$light-grey:#8d8c8a; 
$gray10:#f4f4f4;
$whitesmoke:#f2f4f8;

$green:#00c292;
$blue50: #4598ff;
$blue60: #0f62fe;
$blue70: #0043ce;
$blue80: #002d9c;
$orange:#fb9678 ;
$violet:#ab8ce4;
$white:#ffffff;

