<div class="row">
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="newdata">
      <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns">
        <th mat-header-cell *matHeaderCellDef class="header">
          {{column}}
        </th>
        <td class="tdwidth" mat-cell *matCellDef="let element"> {{element[column]}}
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <!-- <mat-paginator  [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>  -->
  </div>
</div>