.view_report{
    margin-top: 10px;
    margin-left: 27px;
    .upload{
    height: 30px;
    width: 117px;
    background-color: #2B46FF;
    border-color: #2B46FF;
    color: #f8f9fa;
    border-radius: 5px;
    }  
}
.mat-form-field{
    width: 257px;
    line-height: 0.8 !important;
}

.features{
    margin-top: 25px;
    margin-left: 27px;
    bottom: 10px;
}