<div class="parntDiv">
  <div class="marginLeft">
    <button mat-raised-button color="primary" class="buttonClr" (click)="openDialog('','')">Create
      Model</button>
  </div>
  <div>
    <div class="row">
      <h4>List of Available Models</h4>
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
          <!-- Position Column -->
          <ng-container matColumnDef="dataSetName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Dataset </th>
            <td mat-cell *matCellDef="let element"> {{element.dataSetName}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="targetVariable">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Target Variable </th>
            <td mat-cell *matCellDef="let element"> {{element.targetVariable}} </td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="modelOriginalName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Model Name </th>
            <td mat-cell *matCellDef="let element"> {{element.modelOriginalName}} </td>
          </ng-container>

          <ng-container matColumnDef="modelReady">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Status</th>
            <td mat-cell *matCellDef="let element" >
              <span *ngIf="element.modelReady == 'Y'">Available</span>
              <span *ngIf="element.modelReady == 'N'">In Progress</span>
              <span *ngIf="element.modelReady == 'BE'">Errored Out</span>
              </td>
          </ng-container>
          
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
      </div>
    </div>
  </div>
</div>
