<div class="container p-0">
    <div class="wrapper">
        <div style="margin-top:6rem;font-size: 24px;">Welcome to <span style="color:#78A9FF;font-size:24px">Enterprise
                AI</span></div>
        <div class="row row-top">
            <div class="col-md-3">
                <img (click)=churn() src="../../assets/icons/model1.svg">
                <div class="textimg">Churn Model</div>
            </div>
            <div class="col-md-3">
                <img src="../../assets/icons/model5.svg">
                <div class="textimg">UPS System</div>
              
            </div>
            <div class="col-md-3">
                <img src="../../assets/icons/model6.svg">
                <div class="textimg">Automotive</div>
             
            </div>
            <div class="col-md-3">
                <img src="../../assets/icons/model2.svg">
                <div class="textimg">Revenue</div>
              
            </div>
        </div>
        <div class="row row-top">
            <div class="col-md-3">
                <img src="../../assets/icons/model3.svg">
                <div class="textimg">Sales</div>
            </div>
            <div class="col-md-3">
                <img src="../../assets/icons/model4.svg">
                <div class="textimg">Supply</div>
            </div>
        </div>
        <footer class="footer">
            <hr class="line">
          <img class="ibmimg ibm"  
                src="../assets/icons/ibm.png">
            <p class="ibm linedata">@2021 IBM.All Rights Reserved.Privacy Terms Of Use.</p>
        </footer>
    </div>

</div>