table {
    width: 100%;
  }
  
  button {
    margin: 16px 8px;
  }
  .header{
    background-color: #495057
  }
  .edit-icon{
  
    position: absolute;
    margin-left: 7px;
  }
  .header-img{
    margin-top: 100px;
  }
  .input-data{
    border-left: 6px solid #343a40;
    background-color: lightgrey;
    color: #212529;
  }